[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Repository for Programming Assignment 2 for R Programming on Coursera
[access "refs/*"]
	owner = group user/mihalycsokas
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mihalycsokas
	label-Verified = -1..+1 group user/mihalycsokas
	push = group user/mihalycsokas
	read = group user/mihalycsokas
	rebase = group user/mihalycsokas
	removeReviewer = group user/mihalycsokas
	submit = group user/mihalycsokas
[access "refs/heads/*"]
	create = group user/mihalycsokas
	push = +force group user/mihalycsokas
	pushMerge = group user/mihalycsokas
	read = group user/mihalycsokas
[access "refs/tags/*"]
	push = group user/mihalycsokas
	push = +force group user/mihalycsokas
